@using System.Collections.Generic
@using System.Collections.Specialized
@using System.Text
@using System.Xml
@using System.Xml.Linq



@{

    // Your user was redirected to this page after completing their payment on the PEVD interface.
    // During that redirect, their browser made a POST containing the transaction response.

    // Just like the original request, the response is tokenized to avoid exposing any information to the user's browser.
    NameValueCollection PostData = Request.Unvalidated.Form; // By default, .NET will see XML and throw a System.Web.HttpRequestValidationException 
    string tokenized_response = PostData["response"];


    @*[Some database calls and/or logging here, probably.]*@

}

<!DOCTYPE html>
<html>
<head>
    <title>pg 3 - PEVD Sample</title>
</head>

<body>
    <h3>Encrypted Result:</h3>

    <pre>
        Response XML:
    </pre>
    <pre>
        <code>@tokenized_response</code>
    </pre>
    
    <!--
        FOR SUPPORT: sdksupport@paya.com

    -->
    <h3>Click to Decrypt:</h3>

    <!-- This endpoint is used to decrypt the encrypted response XML. Typically you wouldn't use a Form POST for this
        as you can submit the string directly. We're leaving it as a Form POST here just to keep things simple. '-->
    <form method="POST" action="https://www.sageexchange.com/sevd/frmopenenvelope.aspx">
        <input type="hidden" name="request" value="@tokenized_response" />
        <input type="hidden" name="consumer_initiated" value="True">
        <input type="submit" value="Submit" /><br />
    </form>

    <br />
    <a href="index.html">Click Here To Start Over</a>
</body>
</html>
